HL7_EXPORT_HOST=hl7-reports.example.internal
HL7_EXPORT_USER=your_export_user
HL7_EXPORT_PASSWORD=your_export_password
HL7_DB_URL=jdbc:mysql://hl7-reports.example.internal:3306/appointments?user=your_export_user&password=your_export_password
